<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改教师</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>修改教师</small>
                </h1>
            </div>
        </div>
        <form th:action="@{/pages/updateteacher}" method="post">
            <input type="hidden" name="id" th:value="${key2.getId()}">
            <div class="form-group">
                <label>学校代码</label>
                <input type="text" class="form-control" name="schoolId" th:value="${key2.getSchoolId()}" required>
            </div>
            <div class="form-group">
                <label>教师代码</label>
                <input type="text" class="form-control" name="teacherCode" th:value="${key2.getTeacherCode()}" required>
            </div>
            <div class="form-group">
                <label>头像</label>
                <input type="text" class="form-control" name="avatar" th:value="${key2.getAvatar()}" required>
            </div>
            <div class="form-group">
                <label>名字</label>
                <input type="text" class="form-control" name="name" th:value="${key2.getName()}" required>
            </div>
            <div class="form-group">
                <label>性别</label>
                <input type="text" class="form-control" name="sex" th:value="${key2.getSex()}" required>
            </div>
            <div class="form-group">
                <label>职级</label>
                <input type="text" class="form-control" name="title" th:value="${key2.getTitle()}" required>
            </div>
            <div class="form-group">
                <label>学科</label>
                <input type="text" class="form-control" name="subject" th:value="${key2.getSubject()}" required>
            </div>
            <div class="form-group">
                <label>手机号码</label>
                <input type="text" class="form-control" name="phone" th:value="${key2.getPhone()}" required>
            </div>
            <div class="form-group">
                <label>执教开始日期</label>
                <input type="text" class="form-control" name="startTeachDate" th:value="${#dates.format(key2.getStartTeachDate(), 'yyyy-MM-dd')}" required>
            </div>
            <div class="form-group">
                <label>创建时间</label>
                <input type="text" class="form-control" name="createAt" th:value="${#dates.format(key2.getCreateAt(), 'yyyy-MM-dd')}" required>
            </div>
            <div class="form-group">
                <label>更改时间</label>
                <input type="text" class="form-control" name="updateAt" th:value="${#dates.format(key2.getUpdateAt(), 'yyyy-MM-dd')}" required>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control" value="修改">
            </div>
        </form>
    </div>
</div>
</body>
</html>
