<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <style>
        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
        h3{
            width: 180px;
            height: 30px;
            margin: 100px auto;
            text-align: center;
            line-height: 38px;
            background: deepskyblue;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<h3>
    <a th:href="@{/pages/allteacher}" >进入教师管理界面</a>
</h3>
</body>
</html>